/* Make the invisible visible */

* {
  border: thin red solid;
}

h1{
	background-color: silver;
	margin-top: 20px;
	height: 200px;
}

a{
	background-color: blue;
	color:white;
	height:30px;
	width:150px;
	border-radius: 20px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}

.Horizontal_section{
	clear:both;
}

.Triple_column{
	float:left;
	width:33%;
}

.Double_Column{
	float:left;
	width:66%;
}

.Quadruple_Column{
	float:left;
	width:25%;
}

